<aside>
    <div class="col-md-3 hidden-xs hidden-sm">
        <div class="sidebar-module sidebar-module-inset">
  			  <h3>¿Tenes algun profesor para recomendar??</h3>
    			<div class="panel-footer"><a href="{% url 'votacion:recomendar' %}" class="btn btn-success btn-block btn-lg">Tu opinion vale!</a>
          </div>
        </div>
        <div class="panel panel-primary">
      			<div class="panel-heading">
        		<h3 class="panel-title">Profesores recientes</h3>
      			</div>
      			<div class="panel-body">
        			Sin actividad!
      			</div>
      			<div class="panel-footer sidebar-footer">
      				<a href="">ver todo</a>
      			</div>
		    </div>
    		<div class="panel panel-success">
      			<div class="panel-heading">
        		    <h3 class="panel-title">Profesores top X</h3>
      			</div>
      			<div class="panel-body">
        			Sin actividad!
      			</div>
            <div class="panel-footer sidebar-footer">
              <a href="">ver todo</a>
            </div>
    		</div>
    		<div class="panel panel-default">
      			<div class="panel-heading">
        		<h3 class="panel-title">Profesores mas populares</h3>
      			</div>
      			<div class="panel-body">
        			Sin actividad!
      			</div>
            <div class="panel-footer sidebar-footer">
              <a href="">ver todo</a>
            </div>
    		</div>
    </div>    
</aside>