{% extends 'votacion/base.html' %}
{% block titulo %}Pagina de busquedas{% endblock %}

{% block contenido %}
<div class="container recientes">
	<div class="page-header">
		<h1>Busqueda de profesores</h1>
	</div>
	<div class="row busqueda">
		<h3>Formulario de Busqueda</h3>
		<hr>
		<form method="GET" id="simple" action="" class="form-inline">
			<div>
				<div>Buscar Profesores:</div>
			    	<div id="custom-search-input">
			    		<div class="input-group col-md-4">
				            <input type="text" class="form-control input-md" placeholder="Buscar..." name="search_txt" />

				        </div>
		            </div>
		    </div>
			    <br>
				<div>
				    <div class="btn-group" data-toggle="buttons" >
				    	<h5>* Seleccione Simple para buscar por: Nombre, Apellido, Apodo</h5>
				    	<h5>* Seleccione Advance para buscar por: Nombre, Apellido, Apodo, Universidad, Unidad</h5>
				    	<br>
		                <label class="btn btn-default active" >
		                    <input type="radio" id="q156" name="busflag" value="0"  checked/>Busqueda Simple
		                </label> 
		                <label class="btn btn-default">
		                    <input type="radio" id="q157" name="busflag" value="1" />Busqueda Advance
		                </label> 
		            </div>
				</div><br>
				<div>
			    	<input type="submit" class="btn btn-primary" value="Buscar"></input>
			    </div>
			</div>
		</form>
		<hr>
		<h3>Resultados</h3>
		<hr>
		<div class="table-responsive"> 
			<table  class="table">
				<thead>
				    <tr>
				        <th>Foto</th>
				        <th>Profesor</th>
				        <th>Apodo</th>
				        <th>Universidad</th>
				        <th>Unidad</th>
				    </tr>
			    </thead>
			    <tbody>
				    
				    {% for item in profesores %}
				    <tr> 
				        <td><img src="/media/{{ item.foto }}" style="with:50px;height:50px" /></td>
						<td>{{ item.nombre }} {{ item.apellido }}</td>
						<td>{{ item.apodo }}</td>
						<td>{{ item.universidad.nombre }}</td>
						<td>{{ item.unidad.nombre }}</td>
					</tr>
				    {% endfor %}
				    
				</tbody>
			</table>
		</div>
			<div class="pagination">
			    <span class="step-links">
			        {% if profesores.has_previous %}
			            <a href="?page={{ profesores.previous_page_number }}&search_txt={{search_txt}}&busflag={{flag}}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ profesores.number }} of {{ profesores.paginator.num_pages }}.
			        </span>

			        {% if profesores.has_next %}
			            <a href="?page={{ profesores.next_page_number }}&search_txt={{search_txt}}&busflag={{flag}}">next</a>
			        {% endif %}
			    </span>
			</div>
	</div>
</div>


{% endblock %}