{% extends 'votacion/base.html' %}
{% block titulo %}Recomendar Profesores{% endblock %}
{% block encabezado %}Bienvenido{% endblock %}
{% block contenido %}

<div class="container">
	<div class="page-header">
		<h1 style="text-align:center">Bienvenido</h1>
		<hr>
		<p>En esta pagina podras recomendar a Profesores de tu Universidad, para ello es necesario conocer su nombre, apellido, el apodo y foto son opcionales, una vez que nuestro administrador alla verificado los datos ingresados, recibiras un mail, de confirmacion o rechazo.</p>
		<p>Si fuera confirmado podras ingresar y calificarlo en un rago de 1 a 5, tambien podras dejar un comentario.</p>
	</div>
</div>

{% endblock %}
