{% extends 'votacion/base.html' %}

{% block contenido %}
<div class="container profesor">
    <div class="row">
        <div class="page-header">
            <h1>Formulario de Recomendacion</h1>
        </div>
        <form method='POST' role="form" id="formulario"  action='' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-5 ">
                <div class="form-group">
                    <h3>Informacion personal</h3>
                    <hr>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" required> 
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="apodo">Apodo</label>
                        <input type="text" class="form-control" name="apodo">
                    </div>
                    <div class="form-group">
                        <label for="linkedin">Linkedin</label>
                        <input type="text" class="form-control" name="linkedin">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Informacion Academica</h3>
                <hr>
                <div class="form-group">
                    <label for="universidad">Universidad:</label>
                    <p>{{formulario.universidad}}</p>
                </div>
                
                <div class="form-group">
                    <label>Unidad Academica</label>
                    <p>{{formulario.unidad}}</p>
                </div>
                <div class="form-group">
                    <label for="foto" class="control-label ">Dejanos una foto:</label>
                    <p>{{formulario.foto}}</p>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-primary btn-primary" value="Enviar">Recomendar</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}
