{% extends 'votacion/base.html' %}

{% block contenido %}
<div class="container profesor">
    <div class="row">
        <div class="page-header">
            <h1>Exito al enviar!!</h1>
        </div>
        <div class="panel panel-success">
        	<p style="color:black; padding-left:30px;padding-top:5px;">
        		Tu recomendacion ah sido aceptada, se te enviara un email cuando el administrador confirme/rechaze tu recomendacion. <br><br>
        		Muchas gracias, un Saludo!
        	</p>
        </div>
    </div>
</div>
{% endblock %}