{% extends 'votacion/base.html' %}
{% block titulo %}Top X{% endblock %}
{% block contenido %}

<div class="container recientes">
	<div class="page-header">
		<h1>Recomendaciones Top X</h1>
	</div>
	{% if profesores %}
	<div class="table-responsive"> 
		<table  class="table">
			<thead>
			    <tr>
			        <th>Foto</th>
			        <th>Profesor</th>
			        <th>Apodo</th>
			        <th>Total Calificacion</th>
			    </tr>
		    </thead>
		    <tbody>
			    
			    {% for item in profesores %}
			    <tr> 
			        <td><img src="/media/{{ item.foto }}" style="with:50px;height:50px" /></td>
					<td>{{ item.nombre }} {{ item.apellido }}</td>
					<td>{{ item.apodo }}</td>
					<td>{{ item.algo }}</td>
				</tr>
			    {% endfor %}
			    
			</tbody>
		</table>
	</div>
	{% else %}
	{% include 'votacion/msj_sin_resultados.html' %}
	{% endif %}

	{% include 'votacion/paginacion_listados.html' %}
</div>
{% endblock %}
