
/*
hr{
	border-top: 3px solid #eee;
}

article {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5em;
    color: dimgray;
    text-shadow: 2px 2px 1.5px cadetblue;
}

textarea {
  height: 150px;
}

.form-group input,select{
  border-radius: 5px;
  height: 32px;
  -webkit-box-shadow:2px 2px 5px -0.5px rosybrown;
}

.form-group label{
  display:block;
}
*/
.clasificacion label{
  display: inline-block;
}





/*--------------------------------------------------------------------*/


input[type="radio"] {
  display: none;
}

.estrella {
  color: grey;
  font-size: 2em;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

.clasificacion label:hover,
label:hover ~ label {
  color: orange;
}

.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}

/* -----------------------------------------Form Sign In---------------------------------------------*/

.form-signin {
    max-width: 40%;
    padding: 0px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 200px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* Form Register */

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-register .form-control:focus {
  z-index: 2;
}

.form-register input {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-register input[name="username"] {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.form-register input[name="password2"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Errors */
.has-error {
  border-color: #d80000  ;
  border-radius: 4px;
  z-index: 3;
}

.table>tbody>tr>td {
    padding: 6px;
    /* line-height: 1.428571429; */
    /* vertical-align: top; */
    border-top: 3px solid beige;
}



label .buscaRadio {
    display: inline-block;
}